<h1>Upcoming Games</h1>
<br>
<% for event in @events %>
    <p>
        <a href="/events/<%= event[:id] %>">
            <%= event[:date] %> - <%= event[:location] %>
            <% if event[:bbq] %>
                <i class="fas fa-hamburger"></i>
            <% end %>
        </a>
    </p>
<% end %>